@font-face {
  font-family: 'Bangers';
  src: url('../src/assets/bangers.ttf');
}

:root {
  --ff-base: system-ui;
  --ff-logo: 'Bangers', cursive;

  --fc-white: #ffffff;
  --fc-black: #000000;

  --clr-white: #ffffff;
  --clr-dark-zinc: #27272a;
  --clr-med-zinc: #3f3f46;
  --clr-light-zinc: #52525b;
  --clr-gray: #6b7280;
  --clr-light-gray: #f4f4f5;

  --clr-blue: #2563eb;
  --clr-green: #22c55e;
  --clr-yellow: #eab308;
  --clr-red: #ef4444;

  --clr-error: #f87171;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: var(--ff-base);
  line-height: 1.5;
}

/* MAIN */
main {
  flex: 1;
  display: grid;
  grid-template-columns: 220px 1fr;
}

/* ASIDE */
aside {
  background-color: var(--clr-dark-zinc);
  color: var(--clr-white);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* HEADER */
header {
  color: var(--fc-white);
  min-height: 64px;
  padding: 0 12px 0 12px;
}

.logo {
  gap: 4px;
}

.logo__icon {
  height: 28px;
}

.logo__text {
  font-family: var(--ff-logo);
  font-size: 1.5rem;
  letter-spacing: 0.1em;
}

/* NAV */
nav {
  flex: 1;
  font-size: 0.75rem;
  height: min-content;
}

/* -------- */
/* PROJECTS */
/* -------- */

/* projects header */
.projectsHeader {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}

/* filler */
.inset {
  flex: 1;
}

/* project delete wrapper */

.itemControl__delete {
  background-image: url('../src/assets/delete.svg');
}

.itemControl__confirm {
  background-image: url('../src/assets/confirm.svg');
}

.itemControl__cancel {
  background-image: url('../src/assets/cancel.svg');
}

.project-item-button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  right: 0;
  height: 16px;
  width: 16px;
  outline: 0;
}

/* ------------------ */
/* NEW PROJECT BUTTON */
/* ------------------ */

/* button */
.newProjectButton {
  background-color: transparent;
  border: 0;
  color: inherit;
  /* display: flex;
  align-items: center; */
  font-size: inherit;
  font-weight: inherit;
  width: 100%;
}

.newProjectButton__icon {
  height: 16px;
}

/* ---------------- */
/* NEW PROJECT FORM */
/* ---------------- */

/* form */
.newProjectForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 12px;
}

/* input type text */
.newProjectForm__input {
  border: 0;
  background-color: var(--clr-white);
  font-family: inherit;
  outline: 0;
  padding: 6px;
}

/* wrapper */
.newProjectFormButton {
  align-self: flex-end;
  gap: 4px;
}

.newProjectFormButton__button {
  background-color: var(--clr-blue);
}

/* TASK */
.taskSection {
  background-color: var(--clr-light-gray);
  padding: 32px;
  gap: 12px;
}

/* --------- */
/* TASK FORM */
/* --------- */

/* form */
.taskForm {
  color: var(--clr-gray);
  gap: 12px;
  font-size: 0.75rem;
}

/* input */
.taskForm__input {
  flex: 1;
  border: 2px solid var(--clr-gray);
  border-radius: 4px;
  color: inherit;
  gap: 6px;
  padding: 8px;
  outline: 0;
}

/* date, priority, buttons wrapper */
.taskFormControls {
  gap: 24px;
}

/* date */
.taskDateWrapper {
  gap: 8px;
}

.taskDate__input {
  border: 2px solid var(--clr-gray);
  border-radius: 2px;
  color: inherit;
  font-family: inherit;
  font-size: 0.675rem;
  outline: 0;
  padding: 2px 4px;
}

/* priority */
.taskPriorityWrapper {
  gap: 8px;
}

.taskPriorityButtonWrapper {
  border: 2px solid transparent;
  border-radius: 2px;
}

.taskPriority__button {
  outline: 0;
  color: var(--clr-white);
  cursor: pointer;
  font-size: 0.675rem;
  font-weight: bold;
  opacity: 0.5;
  padding: 2px 8px;
}

.taskPriority__button--low {
  background-color: var(--clr-green);
  border: 2px solid var(--clr-green);
}

.taskPriority__button--medium {
  background-color: var(--clr-yellow);
  border: 2px solid var(--clr-yellow);
}

.taskPriority__button--high {
  background-color: var(--clr-red);
  border: 2px solid var(--clr-red);
}

.taskPriority__button--selected {
  opacity: 1;
  border: 2px solid var(--clr-gray);
}

/* form buttons */
.taskButtonWrapper {
  margin-left: auto;
  gap: 4px;
}

.taskButton {
  background-color: var(--clr-blue);
  outline: 0;
}

/* --------------- */
/* ADD TASK BUTTON */
/* --------------- */

.addTask__button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  gap: 4px;
  outline: 0;
  opacity: 0.5;
}

.addTask__button:hover {
  opacity: 0.8;
}

.addTask__button:focus {
  opacity: 1;
}

.addTask__icon {
  height: 18px;
}

/* --------- */
/* TASK LIST */
/* --------- */

.taskList {
  background-color: var(--clr-white);
  list-style-type: none;
  margin-top: 12px;
  padding: 2px 0;
  gap: 2px;
}

.taskItem {
  background-color: var(--clr-light-gray);
  /* border: 1px solid var(--clr-dark-zinc);
  border-radius: 6px; */
  padding: 12px 16px;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
}

.taskItem__checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 12px;
  height: 12px;
  border: 1px solid var(--clr-dark-zinc);
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}

.taskItem__checkbox:checked {
  background-color: var(--clr-gray);
}

.taskItem__description {
  font-size: 0.875rem;
  padding-left: 12px;
}

/* task due */
.taskDue {
  grid-column: 2 / 3;
  font-size: 0.625rem;
  width: auto;
  padding-left: 12px;
  padding-top: 4px;
}

.taskDueWrapper {
  background-color: var(--clr-dark-zinc); /* temporary */
  border-radius: 4px;
  color: var(--fc-white);
  font-weight: bold;
  gap: 6px;
  padding: 4px 8px;
  width: max-content;
}

.taskDue__icon {
  height: 14px;
}

/* ==================== */

/* COMMON */
.button-common {
  border: 0;
  border-radius: 4px;
  color: var(--clr-white);
  cursor: pointer;
  font-size: 0.675rem;
  font-weight: bold;
  padding: 4px 8px;
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.list-item {
  gap: 6px;
}

.list-item:hover {
  background-color: var(--clr-med-zinc);
}

.list-icon {
  height: 16px;
}

.list-text {
  cursor: default;
}

.padding-box {
  padding: 12px 24px;
}

/* TASK STATUS */
.completed-status {
  text-decoration: line-through;
}

/* PRIORITY  */
.low-priority {
  background-color: var(--clr-green);
}

.medium-priority {
  background-color: var(--clr-yellow);
}

.high-priority {
  background-color: var(--clr-red);
}

/* SELECTED PROJECT */
.selected-project {
  background-color: var(--clr-med-zinc);
}

/* ERROR BG COLOR */
.error-bg {
  background-color: var(--clr-error);
}

.error-border {
  border: 2px solid var(--clr-error);
}

/* HIDDEN */
.hidden {
  display: none;
}
